.home-container {
  color: white;
  width: 90%;
  margin: 1em auto;
}
.home-title {
  margin: 2rem 0;
  text-align: center;
  font-size: 3rem;
}
.about-container {
  color: black;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background-color: antiquewhite;
  border-radius: 50px;
}
.about-title {
  font-size: 2rem;
}
.about-content {
  font-size: 1.5rem;

}