.home-container, .menu-container {
  color: white;
  width: 90%;
  margin: 2em auto;
  min-height: 750px;
}
.home-title, .menu-title {
  margin: 1em 0;
  text-align: center;
  font-size: 3rem;
}
.menu-grid {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
  margin: 0 auto;
  gap: 20px;
}
.menu-card{
  width: 100%;
  border: 2px white solid;
}

.menu-card-title {
  font-size: 1.5rem;
  text-align: center;
}
.menu-card-img {
  max-width: 100%;
}