.menu-container {
  color: black;
  width: 90%;
  margin: 1em auto;
}
.menu-title {
  color: white;
  margin: 1em 0;
  text-align: center;
  font-size: 3rem;
}
.menu-grid {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
  margin: 0 auto;
  gap: 20px;
}
.menu-card{
  width: 100%;
  border: 2px white solid;
  padding: 2em;
  border-radius: 50px;
  background-color: antiquewhite;
}

.menu-card-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
.menu-card-img {
  max-width: 100%;
  border-radius: 50px;
}
.menu-content {
  font-size: 1.2rem;
}